<launch>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find saboteador_description)/urdf/saboteador.urdf.xacro"/>  
  
  <!-- Setting gui parameter to true for display joint slider, Deprecated in ROS Melodic -->
  <!--param name="use_gui" value="true"/--> 
  
  <!-- Starting Joint state publisher node which will publish the joint values -->
  <!-- node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <!--RViz-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find saboteador_description)/rviz/saboteador.rviz" />

</launch>
