<?xml version="1.0"?>
<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(find saboteador)/model/model.sdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -sdf -model saboteador" />

  <rosparam file="$(find robot_description)/config/diff_drive.yaml" command="load" />

  <node name="Movement controller" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="mobile_base_controller" />

  
</launch>
